/*header*/
.header {
  height: 140px;
  background-color: #255e69;
}

h1 {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 60px;
  color: #1f2633;
  font-family: 'Barrio', cursive;
}

.link {
  margin: 0 13px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #1f2633;
  cursor: pointer;
}

.link:hover {
  font-weight: bold;
}

.welcome-greeting {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 100px;
}

#main {
  text-align: center;
}

/*movie grid*/
.movie-grid{
  display: flex;
  flex-wrap: wrap;
  background-color: #d9e1e2;
  justify-content: space-around;
}

/*movie card*/
.movie-card {
  width: 360px;
  top: 0;
  display: inline-block;
  min-height: 700px;
  margin: 20px 10px;
  background-color: #9ebfc5;
}

.container {
  width: 300px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.movie-img {
  width: 100%;
}

.movie-title, .movie-overview {
  width: 300px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: #2c3442;
}

.movie-title{
  margin-bottom: 10px;
  font-family: 'Khula', sans-serif;
  font-weight: bold;
}

.movie-overview {
  padding-bottom: 15px;
}

.mark-favorite {
  color: #1f2633;
  height: 29px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 17px;
  background-color: #9ebfc5;
  border: solid 2px  #255e69;
  border-radius: 5px;
  outline: none;
}

.mark-favorite:hover {
  background-color: #255e69;
}

.favorited {
  color: #1f2633;
  height: 29px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 17px;
  background-color: aqua;
  border: solid 2px  #255e69;
  border-radius: 5px;
  outline: none;
}

/*forms: login, create-account*/
.user-login, .create-user {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.form {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  height: 30px;
  border: solid 2px  #9ebfc5;
  padding-left: 15px;
  outline: none;
}

.submit {
  background-color: #9ebfc5;
  height: 33px;
  width: 200px;
  color: #1f2633;
  font-weight: bold;
}


@media screen and (max-width: 550px) {
  .welcome-greeting {
    top: -85px;
    font-size: 20px;
  }

  h1 {
    padding-top: 35px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    height: 220px;
  }

  .user-login, .create-user {
    max-width: 250px;
    margin: auto;
    margin-top: 80px;
  }

  .link {
    margin: 0 5px;
  }

  .form {
    width: 240px;
  }
}

@media screen and (max-width: 320px) {
  .movie-card{
    max-width: 300px;
    margin-bottom: 5px;
  }
}
